
@media only screen and (max-device-width: 480px){
tr td {
    padding: 0 !important;
    width: 0 !important;
    float: none !important;
}
tr:nth-child(2n){
background-color: #fff !important;
}
	td a, td{
font-size: 10px;
	}
tr:active,
tr:hover{
background-color: #e5eaec;
	}
#tbl{
    width: 126% !important;
}
select{
width: 126% !important;
text-align-last: center !important;
height: 8% !important;
}

}

tr:nth-child(2n){
background-color: #e5eaec;
}
tr{
font-size: 11px;
}

.main__content {
    width: 79% !important;
}
select{
  border: 0;
  width: 90%;
  border-radius: 10px;
  margin-top: 10px;
  height: 47px;
  text-align-last: center;
  background-color: #e5eaec;
}
